* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.employeeform {
    width: 100%;
    min-height: 100vh;
    background: rgb(218, 104, 153);
    background: radial-gradient(circle, rgba(218, 104, 153, 1) 22%, rgba(93, 129, 229, 1) 91%);
    align-content: center;
    padding-top: 20px;
}
.newdata {
    min-width: 50vw;
    min-width: 25vw;
    height: 40px;
    background-color: white;
    border: 1px solid red;
    border-radius: 8px;
    padding-left: 20px;
    justify-content: center;
}
#imageUpload{
    padding-top: 8px;
}
#add {
    width: 150px;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    background-color: #57ef83;
}
.employeeform>div {
    display: flex;
    padding: 10px 0px;
    width: 100%;
    justify-content: center;
}


#heading {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke: 0.5px white; */
    /* text-shadow: 5px 5px 10px rgb(255, 0, 0); */
}